@use "../base" as *;
@use "../abstracts" as *;
@use "../components/" as *;

/* 
========================
=  DASHBOARD SUBMENU   =
========================
*/
.tabs {
  padding-block: 2em;
  overflow: hidden;
}

.tab__nav {
  display: flex;
  gap: 2px;
}

.nav__item {
  text-transform: capitalize;
  padding: .625em 1em;
  color: map-get($secondary-clr, 700);
  background-color: transparent;
  cursor: pointer;
  transition: color get-transition-time(), background-color get-transition-time();
  
  &:is(:hover, .nav__item--active){
    color: map-get($primary-clr, 600);
    background-color: white;
  }
  
  &.nav__item--active {
    border-top: 2px solid currentColor;
  }
}

.tab-content {
  display: flex;
  width: fit-content;
  transform: translateX(var(--tab-translate-x));
  transition: transform 500ms;
}

.tab-pane {
  padding: 1em 2em;
  width: calc(var(--pane-width, 100%) - 4em);
  overflow: hidden;
  background-color: white;
  transition: opacity get-transition-time('medium'), width get-transition-time('medium');
}

// @for $i from 1 through 9 {
//   .ui-toggle:nth-child(#{$i}) {
//     th {
//       background-color: map-get($gray-clr, $i * 100);
//     }
//   }
// }