@use 'functions' as *;

$primary-clrs: create-color-map(darkviolet);
$secondary-clrs: create-color-map(deepskyblue);
$success-clrs: create-color-map(darkgreen);
$danger-clrs: create-color-map(darkred);
$gray-clrs: create-color-map(dimgray);